<%= form_with(model: @comment, local: true, html: { class: '' }) do |f| %>
    <% if @comment.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Este comentario no se pudo crear por las siguientes razones</h2>
            <ul>
                <% @comment.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.hidden_field :post_id, value: @post.id %>

    <div class = 'mb-3'>
        <%= f.label :content, "Contenido", class: 'form-label' %>
        <%= f.text_field :content, class: 'form-control' %>
    </div>

    <div class = 'mb-3'>
        <%= f.submit 'Enviar', class: 'btn btn-primary' %>
    </div>
<% end %>